*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

body {
  background-image: linear-gradient();
  background: rgba(38, 33, 44, 0.89);

}

/* header */

a{  
    user-select: none;
    font-size: 1.5rem;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 800;
}
header{
  background-color: rgb(226, 136, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo{
    width: 50%;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/* header */

/* Main*/
.mainicon{
  height: 100px;
  width: 100px;
}
main div{
  background-color: aliceblue;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
main h1{
  margin: 1;
}
  main p {
    display: none;
  }

/* Media Query*/


@media (max-width: 768px) and (min-width: 376px){

}
@media (max-width: 1200px){

}
/* Media Query*/